<h1><%= @passenger.name %></h1>

<section id="flights">
  <p>Flights:</p>
  <ul>
    <% @passenger.flights.each do |flight| %>
      <li> <%= link_to "#{flight.number}", flight_path(flight) %></li>
    <% end %>
  </ul>
</section>

<section id="new-flight">
  <p>Add Flight:</p>
  <%= form_tag passenger_path(@passenger), method: :patch do %>
    <%= label_tag :flight_number %>
    <%= text_field_tag :flight_number %>
    <%= submit_tag "Add Flight" %>
  <% end %>
</section>
